$primary: #eaf0f2;
$title-grey: #59646d;
$purple: #ab9eee;
$blue: #0186ef;
$yellow: #e9e638;
$grey: #666; 
$green: #7eee83;
$red: #ec6363;
$pink: #dc63ec;
$border-grey: #d3d7d8;

$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:540px;
$med-mobile:375px;
$small-mobile:320px;
